html {
  height: 100%;
}

body {
  font-family: arial;
  background: #4a964a;
  font-size: 14px;
}

h1, h2 {
  display: table;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  display: table;
  padding: 0;
  border: 0;
  margin: 10px auto;
}

nav li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  border: 5px;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  background-color: white;
}

.main-body {
  width: 75%;
  min-width: 60em;
  margin: 0 auto;
}

.resume-content {
  display: inline-block;
}

.resume {
  width: 80%;
  margin: 0;
  display: inline-block;
}

.skills {
  float: right;
  width: auto;
}

.skills ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.bold-title {
  font-weight: bold;
  text-decoration: underline;
}

.bolder-title {
  font-size: 16px;
  font-weight: bolder;
  text-decoration: underline;
}

.item-name {
  font-size: 15px;
  margin-bottom: 0px;
  font-weight: bold;
}

.item-date {
  margin-top: 0px;
  font-style: italic;
  font-size: 13px;
}

.item-desc {
  margin-top: 0px;
  margin-bottom: 0px;
}

.questions {
  display: inline-block;
  float: left;
}

.results {
  float: right;
  display: inline-block;
  margin: 0;
}

.guessing-game {
  display: inline-block;
  width: 80%;
}

#projects {
  width: 50%;
}

#education {
  width: 45%;
}

#top10games {
  width: 20%;
}

#guessing-game-title {
  margin: 10px auto;
  text-align: center;
}

#startButton {
  background-color: white;
  border-radius: 8px;
  border-color: white;
  border-style: none;
  padding: 20px;
  font-weight: bolder;
  margin: 0px 39%;
}
