html {
  height: 100%;
}

body {
  font-family: arial;
  background: linear-gradient(white, #66ff60 90%);
  font-size: 14px;
}

h2 {
  text-align: center;
}

.boldTitle {
  font-weight: bold;
  text-decoration: underline;
}

.resume {
  margin: 1%;
  position: relative;
  float: left;
}

.projName {
  font-weight: bold;
}

.projDate {
  font-style: italic;
  font-size: 12px;
}

.guessingGame {
  float: left;
  width: 60%;
}

.questions {
  float: left;
}

.results {
  float: right;
  margin: 0;
}

#projects {
  width: 75%;
  float: left;
  margin: 1%;
}

#bio {
  margin-top: 5px;
  float: left;
}

#skills {
  float: left;
  width: 15%;
}

#startButton {
  background-color: white;
  border-radius: 8px;
  border-color: white;
  border-style: none;
  padding: 20px;
  font-weight: bolder;
  margin: 0px 39%;
}
