@font-face {
  font-family: "Triforce";
  src: url('font/Triforce.eot');
  src: url('font/Triforce.ttf');
}

html {
  background: url("img/papyrus.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  margin-top: 3%;
}

body {
  font-family: arial;
  font-size: large;
}

h1 {
  font-family: "Triforce";
  display: table;
  margin: 0 auto;
  font-weight: normal;
  font-size: 4em;
}

h2 {
  font-family: "Triforce";
  display: table;
  margin: 0 auto;
  font-weight: normal;
  font-size: 2em;
}

nav ul {
  list-style: none;
  display: table;
  padding: 0;
  border: 0;
  margin: 10px auto;
}

nav li {
  list-style: none;
  display: inline;
}

nav a {
  text-decoration: none;
}

nav a img {
  width: 4em;
  height: auto;
}

main {
  width: 75%;
  min-width: 60em;
  margin: 0 auto;
}

.float-beside {
  float: left;
  height: 10em;
  width: auto;
  vertical-align: top;
  margin-top: 3%;
}

.float-beside-r {

  float: right;
  height: 10em;
  width: auto;
  vertical-align: top;
  margin-top: 3%;
}

.resume-content {
  display: inline-block;
}

.resume {
  width: 80%;
  margin: 0;
  display: inline-block;
}

.skills {
  float: right;
  width: auto;
}

.skills ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  border-left: 0;
}

.bold-title {
  font-size: 1.5em;
  font-weight: bolder;
}

.bolder-title {
  font-family: "Triforce";
  font-size: 1.7em;
  font-weight: bolder;
}

.item-name {
  font-size: 1em;
  margin-bottom: 0;
  font-weight: bold;
}

.item-date {
  font-size: 0.8em;
  margin-top: 0;
  font-style: italic;
}

.item-desc {
  margin-top: 0;
  margin-bottom: 0;
}

.questions {
  display: inline-block;
}

.results {
  display: inline-block;
  margin: 0;
}

#top10games ol,
#top10games li {
  margin: 0 5%;
  border: 0;
  padding: 0;
}

#projects {
  display: inline-block;
}

#education {
  display: inline-block;
  width: 49%;
}

#experience {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

#top10games {
  display: inline-block;
  width: 25%;
}

#guessing-game-title {
  margin: 10px auto;
  text-align: center;
}

#startButton {
  background-color: white;
  border-radius: 8px;
  border-color: white;
  border-style: none;
  padding: 20px;
  font-weight: bolder;
  margin: 0 39%;
}
