html {
  height: 100%;
}

body {
  font-family: arial;
  background: #66ff66;
  font-size: 14px;
}

h1 {
  display: table;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin: 0 5%;
}

.mainbody {
  width: 75%;
  margin: 0 auto;
}

.resume-content {

}

.resume {
  width: 80%;
  margin: 0;
  display: inline-block;
}

.skills {
  float: right;
  width: auto;
}

.skills ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.boldTitle {
  font-weight: bold;
  text-decoration: underline;
}

.bolderTitle {
  font-size: 16px;
  font-weight: bolder;
  text-decoration: underline;
}

.projName {
  font-weight: bold;
}

.projDate {
  font-style: italic;
  font-size: 12px;
}

.questions {
  float: left;
}

.results {
  float: right;
  margin: 0;
}

#projects {

}

#bio {

}

#startButton {
  background-color: white;
  border-radius: 8px;
  border-color: white;
  border-style: none;
  padding: 20px;
  font-weight: bolder;
  margin: 0px 39%;
}
